.title {
  color: rgb(45, 119, 255);
  font-size: 50px;
  font-family: fantasy;
}

body {
  background-color: lightblue;
}

.container {
  width: 400px;
  margin: 100px auto;
}

.subtext {
  color: lightsalmon;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
